
.list-item {
  list-style: none;
  border: 1px solid gray;
  padding: 5px;
}

.list {
  margin: 0px;
  max-width: 300px;
  border: 1px solid gray;
}

.shoppingCart .list-item:nth-child(odd) {
  background-color: red;
  color: aliceblue;
}

.groceryList .list-item:nth-child(odd) {
  background-color: blue;
  color: aliceblue;
}

h3 {
  margin-top: 30px 0px 0px 0px;
}

.shoppingCart {
  border: 1px solid red;
  background-color: lightcoral;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
}

.groceryList {
  border: 1px solid blue;
  background-color: lightblue;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
}

.empty {
  display: inline;
  height: 30px;
  width: 300px;
  border: 1px solid red;
  border-radius: 3px;
  color: red;
  margin: 20px 0px 0px;
}

.empty:hover {
  background-color: white;
  font-weight: bold;
}

.input_field {
  margin: 0px 0px 10px 0px
}