nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(0, 155, 255);
  background-color: rgb(55, 80, 100);
  color: rgb(255, 208, 0);
  color: white;
}

main {
  color: rgb(238, 3, 23);
}

a {
  text-decoration: none;
  color: white;
}
