.main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.left_container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  background-color: rgb(4, 121, 255);
  color: white;
}

.bar_container {
  /* border: 1px solid purple; */
  width: 1000px;
  padding-top: 100px;
}

.list_container {
  /* border: 2px solid green; */
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  align-self: center;
}

.student_feature-container {
  /* border: 2px solid red; */
  position: relative;
  width: 300px;
}

.student_info-container {
  text-align: left;
  padding-left: 30px;
}

.student_donut-container {
  /* border: 2px solid blue; */
  background-color: transparent;
  position: relative;
  width: auto;
  height: 150px;
  /* border-radius: 50%; */
  margin: 0 auto;
  padding: 0px;
  z-index: 2;
}

img {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  right: 100px;
  z-index: 1;
}
